* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.poem:hover .highlight {
    display: inline-block;
    transition: opacity 0.3s ease-in-out;
    background-color: khaki;
}

.reference {
    display: inline-block;
}

.reference:hover {
    border-bottom: 1px solid red;
}